<!doctype html>

<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">

<meta name="google-site-verification" content="721N_wFjJ5vvT1IjhhperzSWTDBoNeqrKxcZdIcnIR0" />  <title>
    {{ if .IsHome }}
        {{ .Site.Title }}
    {{ else if .Params.heading }}
        {{ .Params.heading }}
    {{ else }}
        {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>

  {{ if .IsTranslated }}
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}

  <link rel="stylesheet" href="/css/site.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body class="{{ if .IsHome }}homepage{{ end }}">

  <header id="site-header">
    <h1>{{.Site.Title}}</h1>
  </header>

  <nav id="main-navigation">
    <div class="inner">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}

      {{ if .IsTranslated }}
          {{ range .Translations }}
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end}}
      {{ end }}
    </div>
  </nav>

  {{ block "main" . }}{{ end }}

  {{ partial "footer.html" . }}

  <script>

  var menu = document.getElementById('main-navigation');
  var istop = false;
  window.addEventListener('scroll', function(e) {
    if(menu.offsetTop-5<=window.scrollY){
      if(!istop)
      {
        menu.className = "stuck";
        istop = true;
      }
    }
    else
    {
      if(istop)
      {
        menu.className = "";
        istop = false;
      }
    }
  });

  // Randomize header image
  var num = Math.floor((Math.random() * 7) + 1);
  document.getElementById("site-header").style.backgroundImage="url(../img/header"+num+".jpg)";

  // Handle Netlify login
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
