<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta property="og:site_name" content="{{ .Site.Title }}">
  {{ block "meta" . }}
  {{ $home := .Site.GetPage "/" }}
    <meta property="og:title" content="{{ .Site.Title }} - {{ .Title }}">
    <meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ $home.Params.default_description }}{{ end }}">
    <meta property="og:image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ $home.Params.default_image }}{{ end }}">
    <meta name="twitter:image:alt" content="{{ if .Params.caption }}{{ .Params.caption }}{{ else }}Hringleikur{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="summary_large_image">
  {{end}}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P929B3N');</script>
  <!-- End Google Tag Manager -->

  {{ if .IsTranslated }}
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" href="/favicon.ico">

  <!-- CSS -->
  {{- $inServerMode := .Site.IsServer }}
  {{- $cssTarget := "css/style.css" }}
  {{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
  {{- $style := resources.Get "scss/style.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">

  {{ block "header_css" . }}{{ end }}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P929B3N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="main-menu-mobile" class="main-menu-mobile">
      {{ partial "main-menu.html" . }}
  </div>


  <div class="wrapper">
    {{ with .Site.GetPage "/" }}
    <a href="{{ .Permalink }}">
      <header id="site-header" style="background-image: url(https://res.cloudinary.com/hringleikur/image/upload/v1549803585/smoke.jpg)">
        <h1>{{.Site.Title}}</h1>
      </header>
    </a>
    {{ end }}

    <nav id="main-navigation">
      <div class="inner">

        <div class="main-menu">
            {{ partial "main-menu.html" . }}
        </div>

        <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" role="presentation" aria-label="mobile menu trigger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </nav>


    {{ block "main" . }}{{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $cookies := resources.Get "js/libs/js.cookie.js" }}
  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  <script type="text/javascript" src="{{ $cookies.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  <script type="text/javascript" src="{{ ($cookies | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ block "footer_js" . }}{{ end }}
<script type="text/javascript">
  ready(function(){
    document.addEventListener("click", function (e)
    {
      if (e.target.className == "language-link")
      {
          Cookies.set('nf_lang', e.target.dataset.lang);
          Cookies.set('nf_country', e.target.dataset.lang == 'is' ? 'is' : 'us');
      }
    });
  });
</script>
  {{ partial "google-analytics.html" . }}

</body>
</html>
