{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-about{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ $base := "https://res.cloudinary.com/hringleikur/image/upload/" }}
<div class="page-top" style="background-image: url({{ $base }}t_header/{{ strings.TrimPrefix $base .Params.image }});background-size: cover;">

  <div class="intro intro-small">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container page-main">

      {{ .Content }}
      <div class="row">
        <div class="col-12 col-md-6 mb-1">
        {{ $articles := where (where .Site.RegularPages "Type" "news") ".Params.featured" true }}
        {{if gt (len $articles) 0}}
        <div class="container{{ if eq .Params.show_news "members" }} show-logged-in{{ end }}">
          <div class="row justify-content-start">
            {{ $articles := where (where .Site.RegularPages "Type" "news") ".Params.featured" true }}
            {{ range last 5 (sort $articles ".Params.date") }}
            <div>
              {{ .Render "summary" }}
            </div>
            {{ end }}
          </div>
        </div>
      {{end}}
    </div>
    <div class="col-12 col-md-4 mb-1">

      {{ $disciplines := where (where .Site.RegularPages "Type" "discipline") ".Params.featured" true }}
      {{if gt (len $disciplines) 0}}
      <div class="container pt-4 pt-md-6 pb-md-12" id="homepage-disciplines">
        <div class="row justify-content-start">
          {{ $disciplines := where (where .Site.RegularPages "Type" "discipline") ".Params.featured" true }}
          {{ range first 6 (sort $disciplines ".Params.weight") }}
          <div class="col-12 col-md-6 mb-1">
            {{ .Render "summary" }}
          </div>
          {{ end }}
        </div>
      </div>
      {{end}}
    </div></div>
</div>

{{ end }}
