{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact-single{{ end }}

{{ define "main" }}
<div class="content">
  <div class="content-top">
      <div class="container" >
            <h1>{{ .Title }}</h1>
            {{ partial "social.html" . }}
      </div>
  </div>

  <div class="content-main">
    <div class="container">
          <div class="contact-content">
            {{ .Content }}
            <ul>
              <li><strong>{{ i18n "phone" | humanize }}: </strong>{{ .Site.Data.contact.phone }}</li>
              <li><strong>{{ i18n "email" | humanize }}: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
                {{ if .Site.Data.contact.address }}
                  <li><strong>{{ i18n "address" | humanize }}: </strong>{{ .Site.Data.contact.address }}</li>
                {{ end }}
            </ul>
            <ul>
              <li>{{ .Site.Data.contact.kennitala }}</li>
              <li>{{ .Site.Data.contact.bank }}</li>
            </ul>
          </div>


      {{ if .Params.show_form }}
          <div class="contact-form">

                      {{ with .Site.GetPage "/" }}<form name="contact" method="POST" data-netlify="true" action="{{ .Permalink }}">{{ end }}
                      <div data-netlify-recaptcha="true"></div>
                      <fieldset>
                        <legend>{{ i18n "sendMessage" | humanize }}</legend>

                        <!-- Name input-->
                        <div class="form-group">

                            <input id="name" name="name" type="text" placeholder="{{ i18n "yourName" | humanize }}" class="form-control">

                        </div>

                        <!-- Email input-->
                        <div class="form-group">

                            <input id="email" name="email" type="text" placeholder="{{ i18n "yourEmail" | humanize }}" class="form-control">

                        </div>

                        <!-- Message body -->
                        <div class="form-group">

                            <textarea class="form-control" id="message" name="message" placeholder="{{ i18n "yourMessage" | humanize }}" rows="5"></textarea>

                        </div>

                        <!-- Form actions -->
                        <div class="form-group">

                            <button type="submit" class="button">{{ i18n "submit" | humanize }}</button>

                        </div>
                      </fieldset>
                      </form>

                  </div>
              {{ end }}
      </div>
    </div>
  </div>

{{ end }}
